<div data-role="appviewpage" data-title="Contact Us">
    <div data-role="header">
        <a href="Index.html" data-icon="back">Back</a>
        <h2>Contact Us</h2>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true" data-theme="c">
            <li data-role="list-divider">Call</li>
            <li><a href="tel:(412)555-1212">(412)555-1212</a></li>
            <li data-role="list-divider">Email</li>
            <li><a href="mailto:info@example.com">info@example.com</a></li>
        </ul>
    </div>
</div>
