<div class="software-value-title container-fluid" (click)="displayTable(false)">
  <h2><a href ="#software-value-table" class ="text-danger"> Bảng tính toán giá trị phần mềm (Click here)</a></h2>
</div>
<div id="software-value-table" class="container-fluid" (click)="displayTable(true)">
  <h2>Bảng tính toán giá trị phần mềm</h2>
  <form>
    <div class="table-responsive">
      <table class="table table-hover table-bordered" id="table_CausePoint">
        <thead>
          <tr class="success">
            <th class = "text-center">TT</th>
            <th class = "text-center" width="400">Hạng mục</th>
            <th class = "text-center" width="250">Diễn giải</th>
            <th class = "text-center">Giá trị</th>
            <th class = "text-center">Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          <tr class = "info">
            <td>I</td>
            <td>Tính điểm trường hợp sử dụng (Use case)</td>
            <td></td>
            <td>

            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Điểm Actor (TAW)</td>
            <td>Phụ lục III</td>
            <td>
              <input type="text" class="form-control tbl7_giatri"  disabled value = {{TAW}}>
            </td>
            <td>
              <input type="text" class="form-control ">
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Điểm Use case (TBF)</td>
            <td>Phụ lục IV</td>
            <td>
              <input type="text" class="form-control tbl7_giatri" disabled value = {{TBF}}>
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Tính điểm UUCP</td>
            <td>UUCP = TAW + TBF</td>
            <td>
              <input type="text" class="form-control tbl7_giatri"  disabled value = {{UUCP}}>

            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>Hệ số phức tạp về kỹ thuật - công nghệ (TCF)</td>
            <td>TCF = 0.6 + (0.01 x TFW)</td>
            <td>
              <input type="text" class="form-control tbl7_giatri" value = {{TCF}} disabled>
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>Hệ số phức tạp về môi trường (EF)</td>
            <td>EF = 1.4 + (-0.03 x EFW)</td>
            <td>
              <input type="text" class="form-control tbl7_giatri" value = {{EF}} disabled>
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>Tính điểm AUCP</td>
            <td>AUCP = UUCP x TCF x EF</td>
            <td>
              <input type="text" class="form-control tbl7_giatri" value = {{AUCP}} disabled>
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr class = "info">
            <td>II</td>
            <td>Nội suy thời gian lao động (P)</td>
            <td>P: người/giờ/AUCP</td>
            <td>
              <input type="text" class="form-control tbl7_giatri" value = {{P}} disabled>

            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr class = "info">
            <td>III</td>
            <td>Giá trị nỗ lực thực tế (E)</td>
            <td>E = 10/6 x AUCP</td>
            <td>
              <input type="text" class="form-control tbl7_giatri" value = {{E}} disabled>

            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr >
            <td>IV</td>
            <td>Mức lương lao động bình quân (H)</td>
            <td>H: người/giờ</td>
            <td>
              <input type="text" class="form-control tbl7_giatri" (input)= "H = $event.target.value">
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr class = "info">
            <td>V</td>
            <td>Giá trị phần mềm nội bộ (G)</td>
            <td>G = 1.4 x E x P x H</td>
            <td>
              <input type="text" class="form-control tbl7_giatri" value = {{G}} disabled>
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
  <button type="button" class="btn center-block btn-danger" (click)="exportToExcel('table_CausePoint')" >Export</button>

</div>