<p>
    This application compares the performance of several grid components.</p>

<p>
    It creates an array with <b>{{data.length | number}}</b> data objects and 
    shows the data on one of several grid options. The application reports how 
    long the binding process took and allows you to select and scroll through 
    the data to see how each grid performs.</p>

<p>
    Keep in mind that performance is only one of the criteria to use when 
    selecting a grid control. Different controls offer different features.
    Common grid features include:</p>

<ol>
    <li>
        <b>Basic</b>: Display and format data, display row and column headers,
        scroll and select ranges using the mouse or keyboard, sort, resize columns,
        styling, browser independence, touch-support.</li>
    <li>
        <b>Intermediate</b>: Editing, validation, DOM virtualization, group 
        and filter data, reorder columns, freeze rows/columns.</li>
    <li>
        <b>Advanced</b>: Dynamic conversion, conditional formatting, custom editors,
        aggregation, calc engine, ad-hoc grouping, extensibility (ability to conform 
        to emerging standards).</li>
</ol>

<p>
    Some grids offer these features by default. Others require that you write code.
    Ideally, grids should provide all basic and intermediate features through
    simple options. Writing custom code should be required only when implementing
    advanced features.</p>
