<div id="section41" class="container-fluid">
  <form>
    <h2>Bảng tính toán hệ số tác động môi trường và nhóm làm việc, hệ số phức tạp về môi trường</h2>
    <div class=" table-responsive">
      <table class="table table-hover table-bordered" id="table_CausePoint">
        <thead>
          <tr class="success">
            <th>TT</th>
            <th>Các hệ số tác động môi trường</th>
            <th>Trọng số</th>
            <th>Giá trị xếp hạng</th>
            <th>Kết quả</th>
            <th>Độ ổn định kinh nghiệm</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="46">I</td>
            <td width="448">Hệ số tác động môi trường và nhóm làm việc</td>
            <td width="94">

            </td>
            <td width="93">

            </td>
            <td width="92" id="tbl6_efw" style="position: fixed;">
            </td>
            <td width="">

            </td>
          </tr>
          <tr>
            <td width="46"></td>
            <td width="448">Đánh giá cho từng thành viên</td>
            <td width="94">

            </td>
            <td width="93">

            </td>
            <td width="92">

            </td>
            <td width="">

            </td>
          </tr>
          <tr>
            <td width="46">1</td>
            <td width="448">Có áp dụng quy trình phát triển phần mềm theo mẫu RUP và có hiểu biết về RUP hoặc quy trình phát triển phần mềm
              tương đương</td>
            <td width="94">
              1.5
            </td>
            <td width="93">
              <input type="text" class="form-control table6" id="tbl6_giatrixephang1">
            </td>
            <td width="92" id="tbl6_ketqua1">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46">2</td>
            <td width="448">Có kinh nghiệm về ứng dụng tương tự</td>
            <td width="94">
              0.5
            </td>
            <td width="93">
              <input type="text" class="form-control table6" id="tbl6_giatrixephang2">
            </td>
            <td width="92" id="tbl6_ketqua2">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46">3</td>
            <td width="448">Có kinh nghiệm về hướng đối tượng</td>
            <td width="94">
              1
            </td>
            <td width="93">
              <input type="text" class="form-control table6" id="tbl6_giatrixephang3">
            </td>
            <td width="92" id="tbl6_ketqua3">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46">I</td>
            <td width="448">Có kinh nghiệm lãnh đạo nhóm</td>
            <td width="94">
              0.5
            </td>
            <td width="93">
              <input type="text" class="form-control table6" id="tbl6_giatrixephang4">
            </td>
            <td width="92" id="tbl6_ketqua4">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46">I</td>
            <td width="448">Tính chất năng động</td>
            <td width="94">
              1
            </td>
            <td width="93">
              <input type="text" class="form-control table6" id="tbl6_giatrixephang5">
            </td>
            <td width="92" id="tbl6_ketqua5">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46"></td>
            <td width="448">Đánh giá chung cho dự án</td>
            <td width="94">

            </td>
            <td width="93">

            </td>
            <td width="92">

            </td>
            <td width="">

            </td>
          </tr>
          <tr>
            <td width="46">6</td>
            <td width="448">Độ ổn định của các yêu cầu</td>
            <td width="94">
              2
            </td>
            <td width="93">
              <input type="text" class="form-control table6" id="tbl6_giatrixephang6">
            </td>
            <td width="92" id="tbl6_ketqua6">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46">7</td>
            <td width="448">Sử dụng các nhân viên làm bán thời gian</td>
            <td width="94">
              -1
            </td>
            <td width="93">
              <input type="text" class="form-control table6" id="tbl6_giatrixephang7">
            </td>
            <td width="92" id="tbl6_ketqua7">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46">8</td>
            <td width="448">Dùng ngôn ngữ lập trình loại khó</td>
            <td width="94">
              -1
            </td>
            <td width="93">
              <input type="text" class="form-control table6" id="tbl6_giatrixephang8">
            </td>
            <td width="92" id="tbl6_ketqua8">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46">II</td>
            <td width="448">Hệ số phức tạp về môi trường (EF = 1.4 + (-0.03 x EFW))</td>
            <td width="94">

            </td>
            <td width="93">

            </td>
            <td width="92" id="tbl6_ketqua9">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46">III</td>
            <td width="448">Độ ổn định kinh nghiệm (ES)</td>
            <td width="94">

            </td>
            <td width="93">

            </td>
            <td width="92" id="tbl6_ketqua10">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td width="46">IV</td>
            <td width="448">Nội suy thời gian lao động (P)</td>
            <td width="94">

            </td>
            <td width="93">

            </td>
            <td width="92" id="tbl6_ketqua11">
            </td>
            <td width="">
              <input type="text" class="form-control">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
  <button type="button" class="btn" onclick="tableToExcel('tbl6', 'Giá trị tương lai ròng')" id="btnExport_tbl6">Export</button>
</div>