<div class="actor-title container-fluid" (click)="displayTable(false)">
  <h2><a href ="#actor-table" class ="text-danger">Bảng tính toán điểm các tác nhân tương tác </a></h2>
</div>

<div id="actor-table" class="container-fluid " (click)="displayTable(true)">
  <h2>Bảng tính toán điểm các tác nhân tương tác</h2>
  <form>
    <div class=" table-responsive">
      <table class="table table-hover table-bordered" id="table_CausePoint">
        <thead>
          <tr class="success">
            <th width="20">TT</th>
            <th width="70">Loại tác nhân</th>
            <th width="50">Mô tả</th>
            <th width="70">Số tác nhân</th>
            <th width="90">Điểm của từng loại tác nhân</th>
            <th width="70">Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Đơn giản</td>
            <td>Thuộc loại giao diện của chương trình</td>
            <td>
              <input type="text" class="form-control causeNumber"  (input)="causeNumber1 = $event.target.value" >
            </td>
            <td id="causePoint1">
              <input type="text" disabled class="form-control causeNumber" value= {{causeNumber1*1}}>
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Trung bình</td>
            <td>Giao diện tương tác hoặc phục vụ một giao thức hoạt động</td>
            <td>
              <input type="text" class="form-control causeNumber" (input)="causeNumber2 = $event.target.value">
            </td>
            <td id="causePoint2">
              <input type="text" disabled class="form-control causeNumber" value = {{causeNumber2*2}} >
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Phức tạp</td>
            <td>Giao diện đồ họa</td>
            <td>
              <input type="text" class="form-control causeNumber" (input)="causeNumber3 = $event.target.value">
            </td>
            <td id="causePoint3">
              <input type="text" disabled class="form-control causeNumber" value = {{causeNumber3*3}} >
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr class = "info">
            <td>4</td>
            <td><b>Cộng (1 + 2 + 3)</b></td>
            <td><b>TAW</b></td>
            <td>
            </td>
            <td id="totalCauseNumber">
               <input type="text" disabled class="form-control causeNumber" value = {{totalCauseNumber}} >
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn center-block btn-danger" (click)="exportToExcel('table_CausePoint')" >Export</button>
  </form>
</div>